#  This Is Configure File For NingBou
#  以下为系统重要信息，不能修改，否则有可能导致系统不能正常运行
#  文件生成时间: 2006/11/18
Des:sl4L6do71flneYsXvXjJXv5T7JJCdOoT1NiqrdAgSjs
Des:SUxpzHTGt1CMUQmo2Mu4p0cRNb$A9i@i
Des:pAICKQNIPbX6q2$icnBOEicGPFsBWbRt
Des:XFe38Aa8e3UG1O6Swzdy2w
Des:XFe38Aa8e3WKed9t3JtWNw
Des:iNRj0XffTYu2Y8QI2duAXYSmrPYH3Jn1
Des:pAICKQNIPbZdwJy@T0XR$0
Des:rLM1mmwYgo43BDLVJaAX0I2x@GUpdshAi1RHCiHqtuo
Des:PkieFi9sE6emqZCl3Nrd25NUjS3aStGQ